<section class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <article class="hero--overlay">
        <h2 class="hero--overlay_title">DMC Delorean</h2>
        <p class="hero--overlay_feature-text">3 cup holders</p>
        <p class="hero--overlay_feature-text">Superman doors</p>
        <p class="hero--overlay_feature-text">Fuzzy dice!</p>
        <a href="#" class="hero--overlay_cta">Own Today</a>
    </article>
</section>
<section class="reviews-and-upgrades">
    <article class="reviews">
        <h2 class="reviews--title">DMC Delorean Reviews</h2>
        <ul class="reviews--list">
            <li class="reviews--list_item">"So fast it's almost like traveling in time. (4/5)</li>
            <li class="reviews--list_item">"Coolest ride on the road." (4/5)</li>
            <li class="reviews--list_item">"I'm flying McFly!" (5/5)</li>
            <li class="reviews--list_item">"The most futuristic ride of our day." (4.5/5)</li>
            <li class="reviews--list_item">"80's livin and I love it!" (5/5)</li>
        </ul>
    </article>
    <article class="upgrades">
        <h2 class="upgrades--title">Delorean Upgrades</h2>
        <div class="upgrades--grid">
            <div class="upgrades--grid-item">
                <div class="upgrades--grid-item_img-wrapper">
                    <img class="upgrades--grid-item_img" src="images/upgrades/flux-cap.png" width="65" height="65" alt="Flux capacitor">
                </div>
                <a href="#" class="upgrades--grid-item_link">Flux Capacitor</a>
            </div>
            <div class="upgrades--grid-item">
                <div class="upgrades--grid-item_img-wrapper">
                    <img class="upgrades--grid-item_img" src="images/upgrades/flame.jpg" width="65" height="82" alt="Flame decal">
                </div>
                <a href="#" class="upgrades--grid-item_link">Flame Decals</a>
            </div>
            <div class="upgrades--grid-item">
                <div class="upgrades--grid-item_img-wrapper">
                    <img class="upgrades--grid-item_img" src="images/upgrades/bumper_sticker.jpg" width="65" height="57" alt="Bumper stickers">
                </div>
                <a href="#" class="upgrades--grid-item_link">Bumper Stickers</a>
            </div>
            <div class="upgrades--grid-item">
                <div class="upgrades--grid-item_img-wrapper">
                    <img class="upgrades--grid-item_img" src="images/upgrades/hub-cap.jpg" width="65" height="65" alt="Hub caps">
                </div>
                <a href="#" class="upgrades--grid-item_link">Hub Caps</a>
            </div>
        </div>
    </article>
</section>