/******* Change Box Model ***************/
*,
*:before,
*:after {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  padding: 0 16px;
}

img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: 100%;
}

header {
  padding: 12px 10px;
  margin-bottom: 24px;
}

#top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteName a {
  font-size: 36px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

#tools a {
  font-size: 24px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

nav {
  background: black;
  padding: 10px 24px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
  list-style-type: none;
  color: white;
  padding: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
}

footer {
  max-width: 507px;
  padding: 48px 16px 24px;
  margin: auto;
}

.hero {
  padding: 24px 0;
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/vehicles/delorean.jpg);
}

.hero--overlay {
  padding: 14px;
  background: rgba(255, 255, 255, 0.9);
  width: fit-content;
}

.hero--overlay_title {
  font-size: 24px;
  font-weight: 600;
  color: rgb(41, 95, 196);
}

.hero--overlay_feature-text {
  font-size: 18px;
  color: rgb(41, 95, 196);
}

.hero--overlay_cta {
  display: block;
  background: rgb(41, 95, 196);
  color: white;
  font-weight: 600;
  text-decoration: none;
  width: fit-content;
  padding: 12px 8px;
  border-radius: 12px;
  margin-top: 12px;
}

.reviews {
  margin-bottom: 36px;
}

.reviews--list {
  padding: 0 0 0 24px;
}

.reviews--list_item:not(:last-child) {
  margin-bottom: 12px;
}

.upgrades--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 48px;
}

.upgrades--grid-item {
  height: 100%;
}

.upgrades--grid-item_img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(41, 95, 196);
  height: 100%;
  padding: 24px;
}

.upgrades--grid-item_link {
  display: block;
  text-align: center;
}

/* Category grid view */
.classification-h1 {
  max-width: 475px;
  margin: 56px auto 24px;
}

#inv-display {
  max-width: 475px;
  list-style-type: none;
  padding: 32px 0;
  margin: auto;
}

#inv-display li {
  background-color: rgb(253, 244, 233);
  border: 2px solid black;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 3.2rem;
}

#inv-display li:last-of-type {
  margin-bottom: 0;
}

#inv-display li img {
  display: block;
  width: 100%;
}

#inv-display li hr {
  height: 3px;
  border: none;
  background-color: rgb(96, 96, 96);
}

#inv-display li h2 {
  font-size: 20px;
  text-align: center;
}

#inv-display li h2 a {
  color: black;
  text-decoration: none;
}

#inv-display li span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 14px;
}

/* Car detail view */
.car-detail {
  max-width: 475px;
  padding: 32px 0;
  margin: auto;
}

.car-detail .details-wrapper--info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.car-detail--price {
  font-size: 20px;
  font-weight: 600;
}

.car-detail--description {
  font-size: 16px;
}

.car-detail--color,
.car-detail--miles {
  font-size: 18px;
}

@media only screen and (min-width: 1024px) {
  html {
    background-image: url(/images/site/checkerboard.jpg);
    background-size: 400px;
  }

  body {
    max-width: 900px;
    margin: 48px auto;
    border: 4px solid rgb(41, 95, 196);
    border-radius: 20px;
    background-color: white;
  }

  main {
    padding: 0 32px;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
  }

  .reviews-and-upgrades {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 48px;
  }

  .reviews,
  .upgrades {
    width: 100%;
  }

  /* Category grid view */
  .classification-h1 {
    max-width: 100%;
    margin: 56px 0 24px;
  }

  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    max-width: 100%;
    padding: 32px 0;
    margin: auto;
  }

  #inv-display li {
    margin-bottom: 0;
  }

  #inv-display li img {
    max-height: 150px;
  }

  /* Car detail view */
  .car-detail {
    max-width: 100%;
  }

  .car-detail .details-wrapper {
    display: flex;
    column-gap: 64px;
  }

  .car-detail .details-wrapper img {
    max-width: 425px;
  }
}

/*
* FORMS
*/
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 24px 48px;
  border-radius: 16px;
  margin: auto;
}

form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

form select {
  font-size: 16px;
  padding: 12px;
  background: none;
  border: 2px solid slategray;
  border-radius: 12px;
  transition: border-color 300ms;
  margin-bottom: 36px;
}

form input {
  font-size: 16px;
  padding: 12px;
  background: none;
  border: none;
  border-bottom: 2px solid slategray;
  transition: border-color 300ms;
  margin-bottom: 36px;
}

form input:hover {
  border-color: rgb(6, 12, 23);
}

form input:focus {
  outline: none;
  border-color: rgb(41, 95, 196);
}

form input[pattern]:focus:invalid {
  border-color: rgb(196, 41, 41);
}

form input[type="submit"] {
  background-color: rgb(41, 95, 196);
  padding: 12px 36px;
  color: white;
  border: none;
  border-radius: 8px;
}

/* Account Login */
.login-form--bottom-text {
  text-align: center;
}

.login-form--bottom-text-link {
  color: rgb(41, 95, 196);
}


/* Account Register */
.register-form--password-wrapper {
  position: relative;
}

.register-form--password-wrapper input {
  width: 100%;
  padding-right: 36px;
  margin-bottom: 8px;
}

.register-form--password-wrapper #showPasswordBtn {
  position: absolute;
  right: 0;
  top: 9px;
  max-height: 26px;
  max-width: 26px;
  padding: 0;
  background: none;
  border: none;
}

.register-form--password-wrapper #showPasswordBtn svg{
  display: block;
  width: 100%;
  height: 100%;
}

.register-form span {
  font-size: 14px;
  margin-bottom: 24px;
}

/*
* MANAGE INVENTORY
*/
.manage-inv--links {
  margin-top: 48px;
}

.manage-inv--links a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-right: 12px;
  color: white;
  background-color: rgb(41, 95, 196);
  padding: 16px 24px;
  border-radius: 12px;
}