<%# Generates h1, or bounces if none is given %>
<% if (title) { %>
    <h1><%- title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<div class="manage-inv--links">
    <a href="/inv/add-classification">Add Classification</a>
    <a href="/inv/add-inventory">Add Inventory</a>
</div>

<h2 class="manage-inv--heading">Edit Inventory</h2>
<p class="manage-inv-sub-heading">Select a classification from the list to see the items belonging to the classification.</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>